
main {
    background: linear-gradient(90deg, #0F2027 0%, #203A43 100%, #2C5364 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}


.acordeon {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: linear-gradient(90deg, #FFEFBA 0%, #FFFFFF 100%);
    width: 655px;
    max-height: 947px;
    padding: 35px 50px;
    box-shadow: 0 27px 49px -25px rgba(0,0,0.3);
    border-radius: 5px;
    position: relative;
}

.acordeon .logo {
    width: 278px;
    height: 293px;
    position: absolute;
    z-index: 1;
    margin-right: 400px;
}

.acordeon .conteudo {
    width: 390px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.conteudo .titulo {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}

.conteudo .item{
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    padding-bottom: 15px;
   
}

.conteudo .item:last-child{
    border-bottom:none;
}

.conteudo .pergunta {   
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;    
}

.conteudo .pergunta:hover {
    font-weight: bold;
}

.pergunta .seta {
    font-size: 24px;    
}

.seta-ativa {    
    transform: rotate(180deg);
    color: grey;
} 

.resposta {    
    height: 0;
    overflow: hidden;
    font-size: 15px;
    line-height: 24px;
    margin: 15px 0;  
    transition:  all 0.3s ease-in;
}

.resposta-ativa {
    height: 100px;
          
}




